<?xml version="1.0"?>
<launch>

<arg name="load_gripper" default="false" />
  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="172.16.0.12" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <rosparam command="load" file="$(find ar_puppeteer_franka)/config/ar_puppeteer_franka.yaml" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="ar_teleop_franka_controller"/>

    <node pkg="tf"
        type="static_transform_publisher"
        name="robot_world_tf"
        args="0 0 0 0 0 0  world panda_link0 10" />


  <!--node name="ar_puppeteer_franka" pkg="ar_puppeteer_franka" type="ar_puppeteer_franka.py" /-->
</launch>
